@tailwind base;
@tailwind components;
@tailwind utilities;

/* Defining CSS variables */
:root {
  --primary-color: #dcdfec;
  --secondary-color: #2a607c;
  --tertiary-color: #00ced1;
  --black-color: #000000;
  --bg-color: rgba(0, 0, 0, 0.2);
  --hover-color: rgba(83, 82, 82, 0.422);
  --border-color: #2a607c;
}

/* removing default browser-enforced styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------- Start Body style ------------- */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--primary-color);
}
/* ------------- Finish Body style ------------- */

/* ------------- Start header style ------------- */
/* applying styles to <header> */
/* header *  {
    border: #000000 2px solid;
} */

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--bg-color);
  padding: 0.5rem;
  width: 100%;
}

header img {
  width: 10rem;
  height: auto;
  /* margin-top: rem; */
}

header h1 {
  display: flex;
}

header h1 a {
  padding: 0 1rem 0 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: var(--black-color);
  font-size: 2rem;
}

header nav {
  display: flex;
  justify-content: end;
}

header nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-bottom: 0.2rem;
}

header nav ul li {
  padding: 0 0.7rem;
  font-weight: lighter;
  font-size: 1.55rem;
  margin-top: auto;
}

header nav ul li a {
  font-weight: lighter;
  font-size: 1.55rem;
  color: var(--black-color);
}

/* ------------- End header style ------------- */

/* ------------- Start Section style ------------- */

/* section > * {
    border: #000000 2px solid;
} */

#find-trails-card {
  box-shadow: 0px 5px 4px 4px rgb(209, 227, 209, 0.34);
}

.hero-find-trail {
  text-align: center;
  margin: 2rem;
}

.main-closest-trail {
  border: #000000 2px solid;
}

.main-find-trails {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 4rem;
}

.main-closest-trail-header {
  margin-top: 1rem;
  text-align: center;
  font-size: 2rem;
}

.main-closest-trail-list {
  display: flex;
  justify-content: center;
  width: 20rem;
  margin-top: 2rem;
}

.main-closest-trail-list ul {
  border: #000000 2px solid;
  width: 17rem;
  background-color: rgb(239, 239, 239);
}

.main-closest-trail-list ul li {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
  width: 100%;
}

.find-trail {
  display: flex;
  flex-direction: column;
  width: 20rem;
  padding: 1rem;
  border: #000000 2px solid;
}

.find-trail label {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 2rem;
}

.find-trail button {
  padding: 5rem;
  font-size: 2rem;
  border: #000000 2px solid;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100px;
}

footer div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--bg-color);
  padding: 0.5rem;
  width: 100%;
}

footer img {
  width: 5rem;
  /* margin-top: rem; */
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-bottom: 0.2rem;
}

footer nav ul li {
  padding: 0 0.7rem;
  font-weight: lighter;
  font-size: 1.55rem;
  margin-top: auto;
}


/*  Weather style  */


.weatherBox {
  margin: 30px auto;
  /* width: 420px;  */
  border: 1px solid #00ced1;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 5px 20px 1px #444;
}

.weatherContent {
  position: relative;
  overflow: hidden;
  color: #fff;
  background: rgb(4 120 87);
  height: 120px;
}

.weatherContent:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.3;
  background-repeat: no-repeat;
  background-position: 0 63%;
  background-size: cover;
}

.weatherContentOverview {
  width: 50%;
  text-align: center;
  display: inline-block;
  z-index: 2;
  position: relative;
}

.weatherBox h1 {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 0.75em;
}

.weatherContentTemp {
  width: 50%;
  z-index: 2;
  text-align: center;
  float: left;
  font-size: 50px;
  text-align: center;
  margin-top: 0.5em;
  position: relative;
  vertical-align: middle;
}

.weatherContentTemp .degrees {
  line-height: 40px;
}

.weatherContentTemp .wi-degrees {
  margin-left: -10px;
  vertical-align: top !important;
}

.currentTemp .wi {
  margin-right: 20px;
  font-size: 40px;
  vertical-align: baseline;
}

.forecastBox {
  display: flex;
  clear: both;
}

.forecast__item {
  flex: 1;
  text-align: center;
}

.forecast-item__heading {
  background: rgb(4 120 87);
  border: 1px solid #26d6c7;
  border-left: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 800;
  padding: 10px;
}

.forecast-item__info {
  background: #fff;
  color: #2a607c;
  padding-bottom: 10px;
  border-right: 1px solid #2a607c;
}

.forecast-item__info .wi {
  display: block;
  margin: 0 auto;
  font-size: 24px;
  padding: 15px 0;
}

.forecast-item__info .degrees {
  font-size: 20px;
  line-height: 20px;
}

.forecast-item__info .degrees .wi-degrees {
  display: inline;
}

small {
  font-size: 12px;
}
